._application {
  padding-top: 75px;

  .app-header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;

    color: #333;
    background-color: #FFF;
    font-family: 'Open Sans', Georgia, sans-serif;
    box-shadow: 0 10px 10px rgba(204, 204, 204, 0.3);

    padding: 8px;

    #headerTitle, #headerTitle:hover {
      outline: 0;
      color: #333;
      text-decoration: none;
    }

    h4 {
      margin: 0;
      vertical-align: middle;
    }

    #imgLogo {
      margin: 0 12px 0 4px;
      max-height: 48px;
    }

    #imgLogo, h4, ul {
      display: inline-block;
    }

    ul.admin-list {
      margin-left: 12px;
      li {
        margin: 0 8px;
      }
    }
  }

  #loadingOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    text-align: center;
    background-color: #FFF;

    i {
      position: absolute;
      top: 43%;
    }
  }

  #mapToolbar {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.7);

    a {
      color: #FFF;
    }
  }
}
