$anchorColor: #FF3B8E;

@import 'components/_main-map';
@import 'components/_add-event-toolbar';
@import 'components/_events-listing';
@import 'components/_editable-field';
@import 'components/_mini-map';
@import '_application';
@import '_index';
@import '_login';

a {
  color: $anchorColor;
}

a:hover {
  color: #8AE837;
}
