$anchorColor: #FF3B8E;

@import 'components/_main-map';
@import 'components/_add-event-toolbar';
@import 'components/_events-listing.scss';
@import 'components/_editable-field.scss';
@import 'components/_mini-map.scss';


body {
  padding-top: 325px;
}

a {
  color: $anchorColor;
}

a:hover {
  color: #8AE837;
}
