<div class="container">
  {{#link-to 'index'}}
  {{fa-icon "home"}} Home
  {{/link-to}}

  <h1>{{editable-field value=model.artists}}</h1>

  <h2>{{editable-field value=model.venue}}</h2>
  <h3>{{editable-field value=model.city}}</h3>
</div>
