<div class="_application">
  <div class="app-header">

    {{#link-to 'index'}}<img src="trio-fi-logo-small.png" alt="trio-fi logo">{{/link-to}}

    <h1>Trio-Fi Events Calendar</h1>
  </div>

  {{outlet}}
</div>
