<div class="_application">
  <div class="app-header">

    {{#link-to 'index'}}<img id="imgLogo" src="trio-fi-logo-small.png" alt="trio-fi logo">{{/link-to}}

    <h4 id="headerTitle">Trio-Fi Events Calendar</h4>

    {{main-map selectedEvent=selectedEvent}}

    <div id="loadingOverlay">
      <i class="fa fa-cog fa-spin fa-2x"></i>
    </div>
  </div>

  {{outlet}}
</div>
